<table>
  <tr>  
    <td class="center">
      <h4>SCOREBOARD</h4>

      <table class="score">
        <tr class="score">
          <td>You</td>
          <td>Computer</td>
        </tr>
        <tr class="score">
          <td><%= session[:players][:user][:score] %></td>
          <td><%= session[:players][:computer][:score] %></td>
        </tr>
      </table>
    </td>
    <td>
      <table class="gameboard" class="center">
        <tr class="game_center">
          <td></td>
          <td></td>
          <td>Beep boop bing! ...computing...</td>
          <td></td>
          <td></td>
        </tr>
        <tr class="game_center">
          <td></td>
          <td></td>
          <td>???</td> 
          <td></td>
          <td></td>
        </tr>
        <tr class="game_center">
          <td>
            <form id="rock" action="/play" method="post">
              <input type="hidden" name="move" value="rock">
              <input form="rock" type="image" src="images/rock.png" width="64" height="64" alt="submit" /></td>
            </form>
          </td>
          <td>
            <form id="paper" action="/play" method="post">
              <input type="hidden" name="move" value="paper">
              <input form="paper" type="image" src="images/paper.png" width="64" height="64" alt="submit" /></td>
            </form>
          </td>
          <td>
            <form id="scissors" action="/play" method="post">
              <input type="hidden" name="move" value="scissors">
              <input form="scissors" type="image" src="images/scissors.png" width="64" height="64" alt="submit" /></td>
            </form>
          </td>
          <td>
            <form id="lizard" action="/play" method="post">
              <input type="hidden" name="move" value="lizard">
              <input form="lizard" type="image" src="images/lizard.png" width="64" height="64" alt="submit" /></td>
            </form>
          </td>
          <td>
            <form id="spock" action="/play" method="post">
              <input type="hidden" name="move" value="spock">
              <input form="spock" type="image" src="images/spock.png" width="64" height="64" alt="submit" /></td>
            </form>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>











<ul>
  <% session.each do |k, v| %>
    <li><%= k %>: <%= v %></li>
  <% end %>
</ul>
