.message {
  background-color: #F2D388;
  padding: 10px;
  text-align: center;
}

body {
  background-color: #A7D2CB;
  font-family: sans-serif;
}

.padded {
  padding: 5em;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

.align_top {
  vertical-align: top;
}

p.important {
  font-weight: bold;
}

p.tips {
  font-style: italic;
}

table.mainboard {
  background-color: #778ea1;
  border: 40px solid #778ea1;
}

table.gameboard {
  background-color: #A7D2CB;
  padding: 20px;
}

.scoreboard {
  margin-right: 50px;
}

table.scoreboard {
  margin-left: auto;
  margin-right: auto;
}

table.scoreboard.title {
  border-collapse: collapse;
}

td.scoreboard.title {
  vertical-align: center;
  font-size: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

td.scoreboard.user {
  background-color: #C98474;
}

td.scoreboard.computer {
  background-color: #874C62;
}

tr:nth-child(odd).history {
  text-align: left;
}

tr:nth-child(even).history {
  background-color: #839aad;
  text-align: left;
}

td.history {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

table.choices {
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}
table.user_profile {
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}
