.message {
  background-color: yellow;
  padding: 10px;
  text-align: center;
}

body {
  background-color: #ffbea5;
  font-family: sans-serif;
}

.padded {
  padding: 5em;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* the below is wip */

.scoreboard {
  vertical-align: top;
}

table.scoreboard_title {
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(odd).scoreboard_rows {
  background-color: #bbb;
  text-align: left;
}

tr:nth-child(even).scoreboard_rows {
  background-color: #eee;
  text-align: left;
}

table.gameboard {
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%
}
